<div class="w bground-special">
	<div id="nav-bar" class="wrapper nav-wrapper">
	    <if condition="$categoryHidden neq 1">
			<div class="fl">
			   商品分类
		    </div>
	    </if>
		
		<ul class="nav nav-pills">
			<li>
				<a href="{:U('/Home/Index')}">首页</a>
			</li>
			<li>
				<a href="#">小优推荐</a>
			</li>
			<li>
				<a href="#">最新体验</a>
			</li>
			<li>
				<a href="{:U('/Home/Index/discountGoods')}">特惠秒杀</a>
			</li>
			<li>
				<a href="{:U('Person/personhomepage')}">个人中心</a>
			</li>
			<li>
				<img src="__PUBLIC__/img/icon/location.png" alt="">
				<span id="location" >
				  	苏州大学独墅湖校区
				</span>
			<!-- 	<a href="">苏州大学独墅湖校区</a> -->
			</li>
		</ul>
	</div>
</div>