<div id="campus-background">
	<div id="campus">
		<div id="campus-close">
			×
		</div>
		<div id="campus-head">
			<span>请选择学校</span>
			<input type="text" id="campus-search" placeholder="请输入学校的名字"/>
		</div>
		<div id="campus-main">
			<div id="campus-item">
				<ul>
					<li>上海</li>
					<li>南京</li>
					<li>南通</li>
					<li class="active">上海</li>
					<li>哈尔滨</li>
					<li>呼和浩特</li>
					<li>潍坊</li>
					<li>青岛</li>
					<li>武汉</li>
					<li>上海</li>
					<li>常州</li>
					<li>厦门</li>
					<li>天津</li>
					<li>无锡</li>
					<li>苏州</li>
					<li>北京</li>
					<li>杭州</li>
					<li>菏泽</li>
					<li>南昌</li>
					<li>广州</li>
					<li>东莞</li>
					<li>如皋</li>
					<li>扬州</li>
					<li>德州</li>
					<li>大连</li>
					<li>长春</li>
				</ul>
			</div>
			
			<div id="campus-content">
				<ul>
					<li>吴中区</li>
					<li>吴中区</li>
					<li>吴中区</li>
					<li>吴中区</li>
					<li>吴中区</li>
					<li>吴中区</li>
					<li>吴中区</li>
					<li>吴中区</li>
					<li>吴中区</li>
					<li>吴中区</li>
					<li>吴中区</li>
					<li>吴中区</li>
				</ul>
			</div>
		</div>
	</div>
</div>