<div id="campus-background">
	<div class="campus-close">
		X
	</div>
	<div id="campus">
		<div class="campus-head">
			<span>请选择学校</span>
			<input type="text" id="campus-search" placeholder="请输入学校的名字"/>
		</div>
		<div class="campus-main">
			<div class="inblock campus-item">
				<ol class="campus-item-flow">
					<li>上海</li>
					<li>上海</li>
					<li>上海</li>
					<li class="item-active">上海</li>
					<li>上海</li>
					<li>上海</li>
					<li>上海</li>
					<li>上海</li>
					<li>上海</li>
					<li>上海</li>
					<li>上海</li>
					<li>上海</li>
					<li>上海</li>
					<li>上海</li>
					<li>上海</li>
					<li>上海</li>
					<li>上海</li>
					<li>上海</li>
				</ol>
			</div>
			
			<div class="inblock campus-content">
				<ol class="campus-content-flow">
					<ol>
						<li class="area">吴中区</li>
						<li>吴中区</li>
						<li>吴中区</li>
						<li>吴中区</li>
						<li>吴中区</li>
						<li>吴中区</li>
						<li>吴中区</li>
						<li>吴中区</li>
						<li>吴中区</li>
						<li>吴中区</li>
						<li>吴中区</li>
						<li>吴中区</li>
					</ol>
					<ol>
						<li class="area">吴中区</li>
						<li>吴中区</li>
						<li>吴中区</li>
						<li>吴中区</li>
					</ol>
				</ol>
			</div>
		</div>
	</div>
</div>