<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="__PUBLIC__/css/commonstyle.css" rel="stylesheet" />
		<link href="__PUBLIC__/css/style.css" rel="stylesheet"/>
		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery-1.11.2.js"></script>
		<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/script/goodsevaluation.js"></script>
		<script type="text/javascript" src="__PUBLIC__/script/common.js"></script>
		<link href="__PUBLIC__/css/style-y.css" rel="stylesheet"/>
		<title>For商品评价y</title>
		<style>
			body{
				background-color: #fff;
			}
		</style>
	</head>
	<body>
	<include file='App/Home/View/Common/commonhead.html'/>
		<div id="index-header" >
			<include file='App/Home/View/Common/commonsearch.html'/>

			<include file='App/Home/View/Common/commonnav.html'/>
			<div id="nav-breadcrumb" class="wrapper">
				<ul class="breadcrumb">
					<li><a href="{:U('Index/index')}">首页</a></li>
					<li ><a href="#">小优推荐</a></li>
					<li class="active"><a href="#">有机草莓</a></li>
				</ul>
			</div>
		</div><!--.index-header-->
		
		<div class="wrapper">
			<div class="goods-info-index w">
				<div class="goods-info-img">
					<div class="goods-info-img-big w ">
						<img src="__PUBLIC__/img/strawberry-biggrey.png" id="change-img-but"/>
					</div>
					<div class="goods-info-img-sm w ">
				
						<!--<a href="" style="float: left;">
							<span class="glyphicon glyphicon-chevron-left pink"></span>
						</a>-->
						<a href="" class="pic-control">
							<
						</a>
						<div class="sm-items">
							<!--<ul class="starwbarry ">
								<li><img  src="__PUBLIC__/img/商品草莓-小_09.png"/></li>
								<li><img  src="__PUBLIC__/img/0721-foryou-商品详情_05.png"/></li>
								<li><img  src="__PUBLIC__/img/商品草莓-小_09.png"/></li>
								<li><img  src="__PUBLIC__/img/商品草莓-小_09.png"/></li>
							</ul>-->
						<!--	myteststarts-->
							
							
							<ul class="starwbarry ">
								<li ><img  src="__PUBLIC__/img/商品草莓-小_09.png" onmouseover="imgonover(this)" onmouseout="imgonout(this)"/></li>
								<li><img  src="__PUBLIC__/img/0721-foryou-商品详情_05.png" onmouseover="imgonover(this)" onmouseout="imgonout(this)"/></li>
								<li><img  src="__PUBLIC__/img/商品草莓-小_09.png" onmouseover="imgonover(this)" onmouseout="imgonout(this)"/></li>
								<li><img  src="__PUBLIC__/img/商品草莓-小_09.png" onmouseover="imgonover(this)" onmouseout="imgonout(this)"/></li>
							</ul>
							
							
							
							
							
							
							<!--mytestends-->
							
							
							
							
						</div>
						<a href="" class="pic-control">
							>
						</a>
						
						
					</div>
				</div>

				<div class="goods-info-detailed ">
					<div class="product-name">
						<p>新鲜有机奶油大草莓4盒装 蛋糕装饰 防癌降血脂水果</p>
						<span> 草莓功效 1.明目草莓中所含有的的胡萝卜素是合成维生素A的重要物质，具有明目养肝作用。2.滋补调理草莓对肠道和贫血均有一定的滋补调理作用。3降血脂草莓除可以预防坏血病外，对防治动脉硬化，冠心病也有较好的疗效。</span>
					</div>
					<div class="pruduct-price">
						价格:<span class="present-price-eva">￥25</span>&nbsp;
						<span class="orgin-price-eva">原价：￥35</span>
					</div>
					<div class="evalua">
						评价：4分 
						&nbsp;<span class="glyphicon glyphicon-star lg-star red-star"></span>
						<span class="glyphicon glyphicon-star lg-star red-star"></span>
						<span class="glyphicon glyphicon-star lg-star red-star"></span>
						<span class="glyphicon glyphicon-star lg-star red-star"></span>
						<span class="glyphicon glyphicon-star lg-star"></span>
					</div>
					
					
					
					
					<div class="target-add">
						<div class="add-show w ">
							<span class="left-eva ">配送至：</span>
							<div onmouseover="mOver(this)" onmouseout="mOut(this)" class="text left-eva show-content" >江苏省 苏州市 工业园区
							<span class=" caret show-content" ></span>
							</div>
						</div>
						<div id="add-content" class="add-content left-eva none"  onmouseover="mOver(this)" onmouseout="mOut(this)">
								<select class="province-eva .slec-eva-item form-control left-eva">
								
									 <option>江苏省</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
							         <option>5</option>	
							         <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
						         
						        
									 <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
							         <option>5</option>	
							         <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
						         
									 <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
							         <option>5</option>	
							         <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
						        
									 <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
							         <option>5</option>	
							         <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
						         
							</select>
								<select class="province-eva .slec-eva-item form-control left-eva">
								
									 <option>苏州市</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
							         <option>5</option>	
							         <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
						         
						        
									 <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
							         <option>5</option>	
							         <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
						         
									 <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
							         <option>5</option>	
							         <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
						        
									 <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
							         <option>5</option>	
							         <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
						         
							</select>							
								<select class="province-eva .slec-eva-item form-control left-eva">
								
									 <option>工业园区</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
							         <option>5</option>	
							         <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
						         
						        
									 <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
							         <option>5</option>	
							         <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
						         
									 <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
							         <option>5</option>	
							         <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
						        
									 <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
							         <option>5</option>	
							         <option>1</option>
							         <option>2</option>
							         <option>3</option>
							         <option>4</option>
						         
							</select>						
						</div><!--add-content-->

					</div><!--target-add-->
					
					
					
					
					<div class="product-num">
						<span class="left-eva">数量：</span><span class="left-eva"><a class="sub-goods ">-</a>
								<input class="goods-count" type="text" value="1" disabled="true">
								<a class="add-goods ">+</a></span>
					</div>
					<div class="buy-products">
						<button class="btn add-carts">加入购物车</button>
						<button class="btn buy-now">立即购买</button>
					</div>
					
					
				</div><!--/goods-info-detailed-->
	
			</div><!--/goods-info-index-->	
			<div class="img-and-evaluate w">
				<table>
					<colgroup>
					<col width="120">
					<col width="980">
					</colgroup>
					<thead>
						<tr>
							<th class="text-eva">图文详情</th>
							<th class="text-eva">商品评价</th>
						</tr>
					</thead>
					<tr style="height: 30px; border-top: solid 2px #AAAAAA;">
						<td class="marks-eva ">
						<span >4.1分</span>
						</td>
						<td>
						<span class="glyphicon glyphicon-star lg-star red-star"></span>
						<span class="glyphicon glyphicon-star lg-star red-star"></span>
						<span class="glyphicon glyphicon-star lg-star red-star"></span>
						<span class="glyphicon glyphicon-star lg-star red-star"></span>
						<span class="glyphicon glyphicon-star lg-star"></span>
						</td>
					</tr>
					
					
					
					
					
					<tr class="evaluation ">
						<td>
							<img src="__PUBLIC__/img/FU图标-灰_03.png" />
						</td>
						<td >
							<div class="comment-sm">
								<span class="glyphicon glyphicon-star  red-star"></span>
								<span class="glyphicon glyphicon-star  red-star"></span>
								<span class="glyphicon glyphicon-star  red-star"></span>
								<span class="glyphicon glyphicon-star  red-star"></span>
								<span class="glyphicon glyphicon-star "></span>
							</div>
							<div class="comment-info">
								草莓很好吃很甜，朋友们都很喜欢。草莓很好吃很甜，朋友们都很喜欢。草莓很好吃很甜，朋友们都很喜欢。草莓很好吃很甜，朋友们都很喜欢。草莓很好吃很甜，朋友们都很喜欢。草莓很好吃很甜，朋友们都很喜欢。
							</div>
						</td>
					</tr>
				</table>
				<div class="pading-eva w">
					<ul class="pagination center-eva">
					  <li><a href="#">&laquo;</a></li>
					  <li><a href="#">1</a></li>
					  <li><a href="#">2</a></li>
					  <li><a href="#">3</a></li>
					  <li><a href="#">4</a></li>
					  <li><a href="#">5</a></li>
					  <li><a href="#">&raquo;</a></li>
					</ul>
				</div>
			</div><!--/img-and-evaluate-->	
		</div><!--/wrapper-->
		<include file='App/Home/View/Common/commontail.html'/>

	</body>
</html>
