<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>For优 确认订单</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="__PUBLIC__/css/commonstyle.css" rel="stylesheet" />
		<link href="__PUBLIC__/css/style.css" rel="stylesheet"/>
		<link rel="stylesheet" href="__PUBLIC__/css/style_li.css" />
	</head>
	<body>
		
		<include file='App/Home/View/Common/commonhead.html'/>
			<div id="index-header" >
				<include file='App/Home/View/Common/commonsearch.html'/>

				<include file='App/Home/View/Common/commonnav.html'/>

				<div id="nav-breadcrumb" class="wrapper">
					<ul class="breadcrumb">
						<li><a href="{:U('Index/index',array('campusId'=>cookie('campusId')))}">首页</a></li>
						<li><a href="{:U('ShoppingCart/shoppingcart',array('campusId'=>cookie('campusId')))}">购物车</a></li>
						<li class="active"><a href="__SELF__">确认订单</a></li>
					</ul>
				</div>
			</div><!--.index-header-->

			<div class="main-wrapper">

				<div id="addressColumn" class="wrapper main-wrapper-1">
					<table>
						<colgroup>
							<col style="width: 300px;"/>
							<col style="width: 550px;"/>
							<col style="width: 250px;"/>
						</colgroup>
						<thead>
							<tr>
								<th colspan="3">收货信息</th>
							</tr>
						</thead>
						<tbody>
							<foreach name="address" item="v">
								<tr>
									<td>
										<input type="radio" name="information" value="{$v.rank}" class="main-wrapper-1-radio"
										<?php
											if ($v['tag'] == 0)
											{
												echo "checked='checked'";
											}
										?>
										/>
										收货人:<span>{$v.name}</span><br />
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系电话：<span>{$v.phone_id}</span>
									</td>
									<td>
										<span>{$v.address}</span>
									</td>
									<td>
										<input type="button" value="修改" class="main-wrapper-1-btn-revise"/>
										<input type="button" value="删除路径" class="main-wrapper-1-btn-delete"/>
										<input class="phone-none none" value="{$v.phone}"> 
										<input class="rank-none none"  value="{$v.rank}">
									</td>
								</tr>
							</foreach>
						</tbody>
					</table>
				</div>
				
				<div class="wrapper main-wrapper-2-1">
						<input type="button" value="新增收货地址" id="new_address"/>
				</div>
				
				<div class="wrapper main-wrapper-2">
					<form action="{:U('Person/addOrReviseSave',array('campusId'=>cookie('campusId')))}" method="POST">
						<div>
							<label for="li_person">收货人：</label>
							<input type="text" name="user-name" id="userName" class="person"/>
						</div>
						<div>
							<label>城市：</label>
							<select  name="select-location-1" id="city-change">
	
							</select><!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
							<label>校区：</label>
							<select  name="select-location-2" id="campus-change">
							</select><!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
						</div>
						<div>
							<label for="li_address">详细地址：</label>
							<input type="text" name="detailed-location" id="detailedLoc" class="address"/>
						</div>
						<div>
							<label for="li_phone">手机号：</label>
							<input type="text" name="phone-number" id="phoneNum" class="phone"/>
						</div>
						<div class="div_but">
							<input type="text" id="page" name="page" value="1" class="none"/>
							<input type="submit" id="save_submit" value="保存"   class="but but-submit"/>
							<input type="submit" id="revise_submit" value="保存" class="but but-submit none" />
							<input type="button" id="" value="取消"  class="but but-button"/>
						</div>
					</form>
				</div>
			<form action="{:U('Person/payAtOnce',array('campusId'=>cookie('campusId')))}" method="POST">
				<div class="wrapper main-wrapper-3">
					<table class="wrapper">
						<colgroup>
							<col style="width: 400px;"/>
						</colgroup>
						<thead>
							<tr>
								<th>支付方式</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<input type="radio" name="pay-way" value="支付宝支付" checked="checked"/>
									<img src="__PUBLIC__/img/zhifubao.png" alt="" />
									支付宝支付
								</td>
							</tr>
							<tr>
								<td>
									<input type="radio" name="pay-way" value="微信支付"/>&nbsp&nbsp&nbsp
									<img src="__PUBLIC__/img/weixin.png" alt="" />
									&nbsp&nbsp&nbsp&nbsp微信支付
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="personhome-order-info main-wrapper-4 wrapper">
					<table class="wrapper">
						<colgroup>
							<col style="width:400px;">
							<col style="width:230px;">
							<col style="width:230px;">
							<col style="width:240px;">
						</colgroup>
						<thead>
							<tr>
								<th>商品名称</th>
								<th>单价</th>
								<th>数量</th>
								<th>总价</th>
							</tr>
						</thead>
						<tbody>				
							<tr class="order-info-head">
								<td colspan="3">
									订单编号：<span>{$orderInfo.together_id}</span>
									提交时间：<span>{$orderInfo.together_date}</span>
									<input name="together-id" value="{$orderInfo.together_id}" class="none"/>
									<input name="orderIDstr" value="{$orderIDstr}" class="none"/>
								</td>
								<td colspan="1">
									
								</td>	
							</tr>
							<!-- 追加1 删除2 付款3 取消4 确认5  评价6-->
							<foreach name="goodsInfo" item="v">
								<tr class="order-info-detailed">
									<td>
										<img class="fl" src="{$v.img_url}" alt="">
										<div class="fl">
											<span class='b'>{$v.foodName}</span><p>
											<span>{$v.message}</span><p>
											<span>共<span>{$v.order_count}</span>件商品</span><p>
										</div>		
									</td>
									<td>
										<span class="gray move"><span>￥{$v.discount_price}</span><span><del>原价：{$v.price}</del></span></span>
									</td >
									<td>
										<span>{$v.order_count}</span>				
									</td>
									<td>
										<span class="move"><span class="red_price">￥{$v.discountPrice}</span><span class="gray"><del>原价：{$v.totalPrice}</del></span></span>
									</td>
								</tr>	
							</foreach>		
						</tbody>
					</table>
				</div>
				
				<div class="wrapper main-wrapper-5">
					<table class="wrapper">
						<colgroup>
							<col style="width: 400px;"/>
						</colgroup>
						<thead>
							<tr>
								<th>送达时间</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<input type="radio" name="time" value="周一至周五(工作日)" checked="checked"/>
									周一至周五(工作日)
								</td>
							</tr>
							<tr>
								<td>
									<input type="radio" name="time" value="周六周日(休息日)"/>
									周六周日(休息日)
								</td>
							</tr>
							<tr>
								<td>
									<input type="radio" name="time" value="周一至周日均可"/>
									周一至周日均可
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="wrapper main-wrapper-6">
					<table class="wrapper">
						<colgroup>
							<col style="width: 1100px;"/>
						</colgroup>
						<thead>
							<tr>
								<th>备注留言</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<textarea name="message" rows="4" cols="10" placeholder="输入备注信息"></textarea>
								</td>
								
							</tr>
						</tbody>
					</table>
				</div>		
				
				<div class="wrapper main-wrapper-7 ">
					<div class="main-wrapper-7-main">
						<span class="zhe"><span>合计：</span><span class="price">￥</span><span class="price">{$price['discountPrice']}</span><span class="price">元</span><br /></span>
						<span class="yuan"><del>原价：￥<span>{$price['totalPrice']}</span>元</del></span><br />
						<input type="submit" value="立即支付"/>
					</div>
				</div>
			</form>
		</div>
			<!--li-->
		
		<include file='App/Home/View/Common/commontail.html'/>
		<include file='App/Home/View/Common/commonlocation.html'/>

		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery-1.11.2.js"></script>
		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery.cookie.js"></script>
		<script type="text/javascript" src="__PUBLIC__/script/common.js"></script>
		<script type="text/javascript" src="__PUBLIC__/script/goodsPayment.js"></script>
	</body>
</html>
