<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="__PUBLIC__/css/commonstyle.css" rel="stylesheet" />
		<link href="__PUBLIC__/css/style.css" rel="stylesheet"/>
		
		<title>For优 我的订单</title>
	</head>
	<body>
		<include file='App/Home/View/Common/commonhead.html'/>

		<div id="index-header" data-campusId="{$campusId}">
			<include file='App/Home/View/Common/commonsearch.html'/>
			<include file='App/Home/View/Common/commonnav1.html'/>

            <div id="info"></div>
			<div id="nav-breadcrumb" class="wrapper">
				<ul class="breadcrumb">
					<li><a href="{:U('Index/index',array('campusId'=>$campusId))}">首页</a></li>
					<li class="active">
						<a href="__SELF__">
							<?php
								switch($flag)
								{
									case 1:echo "常用服务";break;
									case 2:echo "购买说明";break;
									case 3:echo "付款说明";break;
									case 4:echo "关于配送";break;
									case 5:echo "售后服务";break;
									case 6:echo "关于我们";break;
									default:echo ""; 
								}
							?>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="wrapper clearfix" >
			<div id="document-nav-side">
				<ul>
					<span>常用服务</span>
					<li><a href="{:U('Document/documents1',array('status'=>1,'flag'=>1,'campusId'=>$campusId))}">常见问题咨询</a></li>
					<li><a href="{:U('Document/documents1',array('status'=>2,'flag'=>1,'campusId'=>$campusId))}">平台使用说明</a></li>
				</ul>
				<ul>
					<span>购买说明</span>			
					<li><a href="{:U('Document/documents2',array('status'=>1,'flag'=>2,'campusId'=>$campusId))}">如何购买</a></li>
					<!-- <li><a>会员制度</a></li>
					<li><a>积分优惠券介绍</a></li> -->
					<li><a href="{:U('Document/documents2',array('status'=>4,'flag'=>2,'campusId'=>$campusId))}">订单状态说明</a></li>
				</ul>

				<ul>
					<span>付款说明</span>			
					<li
						<?php 
							if($status == 1) {
								echo "class='active'";
							}
						 ?>
					><a href="{:U('Document/documents3',array('status'=>1,'flag'=>3,'campusId'=>$campusId))}">在线支付</a></li>
					<!-- <li><a>服务说明</a></li> -->
					<li
						<?php 
							if($status == 2) {
								echo "class='active'";
							}
						 ?>
					><a href="{:U('Document/documents3',array('status'=>2,'flag'=>3,'campusId'=>$campusId))}">退款服务</a></li>
				</ul>

				<ul>
					<span>关于配送</span>
					<li><a href="{:U('Document/documents4',array('status'=>1,'flag'=>4,'campusId'=>$campusId))}">使用说明</a></li>
					<li><a href="{:U('Document/documents4',array('status'=>2,'flag'=>4,'campusId'=>$campusId))}">时间选择</a></li>
					<!-- <li><a>确认收货</a></li> -->
					<!-- <li><a>价格保护</a></li> -->
				</ul>	
						
				<ul>
					<span>售后服务</span>
					<li><a href="{:U('Document/documents5',array('status'=>1,'flag'=>5,'campusId'=>$campusId))}">申请售后</a></li>
					<!-- <li><a>售后服务政策</a></li>
					<li><a>服务时效承诺</a></li> -->
				</ul>

				<ul>
					<span>关于我们</span>
					<li><a href="{:U('Document/documents6',array('status'=>1,'flag'=>6,'campusId'=>$campusId))}">商家合作</a></li>
					<li><a href="{:U('Document/documents6',array('status'=>2,'flag'=>6,'campusId'=>$campusId))}">联系客服</a></li>
					<li><a href="{:U('Document/documents6',array('status'=>3,'flag'=>6,'campusId'=>$campusId))}">加入我们</a></li>
					<li><a href="{:U('Document/documents6',array('status'=>4,'flag'=>6,'campusId'=>$campusId))}">公司介绍</a></li>
				</ul>
			</div>
			<div id="document-content">
				
				<div
					<?php 
						if($status != 1) {
							echo "class='none'";
						}
					 ?>
				>
					<h1>在线支付</h1>
					<section>
						<table>
							<tbody>
								<tr id="pay-style">
									<td>
										<img src="__PUBLIC__/img/zhifubao.png" alt="">
									</td>
									<td>
										<p>支付宝</p>
										<p>客服电话</p>
										<p>服务时间7*24小时</p>
									</td>
									<td>支付宝支付帮助</td>
								</tr>
							</tbody>
						</table>
						<br>
						支付宝支付帮助<br>https://cshall.alipay.com/lab/cateQuestion.htm?cateId=233878&pcateId=210220
					</section>

				</div>

				<div
					<?php 
						if($status != 2) {
							echo "class='none'";
						}
					 ?>
				>
					<h1>退款服务</h1>
					<section>
						1、订单为待确认状态时，用户可以选择退款。<br>
						2、订单确认后，如服务出现问题，用户可通过售后服务或者联系客服进行退款。<br>
						3、退还款项将于支付宝或微信规定退款时日之内，退还到用户原支付渠道。<br>
						4、优惠款项与电子优惠券、返现等无法进行退款。<br>

					</section>

				</div>
				
			</div>
		
	
		</div>

		<include file='App/Home/View/Common/commontail.html'/>

		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery-1.11.2.js"></script>
		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery.cookie.js"></script>
		<script type="text/javascript" src="__PUBLIC__/script/common.js"></script>
		
		
	</body>
</html>
